<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/hotel_layout1}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div layout:fragment="content">
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area hero-bg1  hero-overly">
            <div class="single-slider  slider-height3 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center ">
                        <div class="col-xl-7 col-lg-11">
                            <!-- Hero Caption -->
                            <div class="hero-caption hero-caption3">
                                <h1>Blog Details</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero Area End-->
        <!-- Blog Area Start -->
        <section class="blog_area single-post-area section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 posts-list">
                        <div class="single-post">
                            <div class="feature-img">
                                <img class="img-fluid" th:src="${blog.imgPath}" alt="">
                            </div>
                            <div class="blog_details">

                                <h2 style="color: #2d2d2d;"><span th:text="${blog.title}">title</span>
                                </h2>
                                <ul class="blog-info-link mt-3 mb-4">
                                    <li><a href="#"><i class="fa fa-user"></i> Review</a></li>
                                </ul>
                                <p class="excert">
                                    <span th:text="${blog.content}">content</span>
                                </p>
                            </div>
                        </div>
                        <div class="navigation-top">
                            <div class="d-sm-flex justify-content-between text-center">
                                <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span>
                                <div class="col-sm-4 text-center my-2 my-sm-0">
                                </div>
                                <ul class="social-icons">
                                    <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                <div sec:authorize="isAuthenticated()" style="padding-top:10px; text-align: right !important;"
                     th:if="${#authorization.authentication.principal.user.userid} == ${userid}">
                     <form name="deleteForm" action="/hotel/blog/delete" method="POST">
                         <input type="hidden" name="blogId" th:value="${blog.id}">
                         <input style="border: none; background-color: #E29C89; color: white; font-weight: unset;"
                            class="boxed-btn2" type="submit" value="Delete">
                    </input>
                     </form>
                </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>
    <!-- Scroll Up -->
    <div id="back-top">
        <a class="wrapper" title="Go to Top" href="#">
            <div class="arrows-container">
                <div class="arrow arrow-one">
                </div>
                <div class="arrow arrow-two">
                </div>
            </div>
        </a>
    </div>
</div>
</body>
</html>