<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/hotel_layout1}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        let result = [[${message}]];
        if (result != null) {
            alert(result);
        }
    </script>
</th:block>
<!--? Preloader Start -->
<!--<div id="preloader-active">-->
<!--    <div class="preloader d-flex align-items-center justify-content-center">-->
<!--        <div class="preloader-inner position-relative">-->
<!--            <div class="preloader-circle"></div>-->
<!--            <div class="preloader-img pere-text">-->
<!--                <img id="myBtn" th:src="@{/hotel/assets/img/icon/loder.png}" alt="loder">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<body>
<div layout:fragment="content">
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area hero-bg1  hero-overly">
            <div class="single-slider  slider-height1 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center ">
                        <div class="col-xl-7 col-lg-11">
                            <!-- Hero Caption -->
                            <div class="hero-caption pt-10">
                                <h1>Rest Journey in Single step, in the breathtaking</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <form action="/hotel/search" method="post" name="searchFrom" class="search-box pb-45">
                    <div class="row align-items-end">
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                            <!-- select in date -->
                            <div class="date-pic mb-15">
                                <label for="#">Check In Date*</label>
                                <div class="boking-datepicker">
                                    <input id="datepicker1" name="checkin_date"  placeholder="Check in" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                            <!-- select in date -->
                            <div class="date-pic mb-15">
                                <label for="#">Check Out Date*</label>
                                <div class="boking-datepicker">
                                    <input id="datepicker2" name="checkout_date"  placeholder="Check out" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                            <div class="select-form mb-15">
                                <select name="select1" id="select1">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                            <div class="select-form mb-15" >
                                <select name="select2" id="select2" >
                                    <option>東京都</option>
                                    <option>北海道</option>
                                    <option>大阪府</option>
                                    <option>京都府</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                            <div class="search-form">
                                <a href="javascript:document.searchFrom.submit();">Search</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--Hero Area End-->
        <!-- About -->
        <div class="support-company-area section-padding">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-6 col-md-10">
                        <div class="support-location-img mb-40">
                            <img th:src="@{/hotel/assets/img/gallery/about.jpg}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-8">
                        <div class="right-caption">
                            <div class="section-tittle">
                                <h2>Luxury & Comfort Our services and wonders of Prague</h2>
                            </div>
                            <div class="support-caption">
                                <p class="mb-10">The concept and service of the best luxury hotels in Asturias in our
                                    sophisticated Urban Double and Unique Junior Suite rooms, with the possibility of
                                    enjoying a furnished terrace in our Double Urban Loft and Unique Junior Loft
                                    Suite.</p>
                                <a href="about.html" class="btn_01 about-btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="about-right-img d-none d-xl-block">
                            <img th:src="@{/hotel/assets/img/gallery/about-right.jpg}" alt="" class="w-100">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- About Area End-->
        <!-- location-house start -->
        <div class="location-house ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-8">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-50">
                            <h2>Our Rooms</h2>
                            <p>The concept and service of the best luxury hotels in Asturias in our sophisticated.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="rows">
                    <div class="location-active owl-carousel">
                        <div class="col-lg-12" th:each="hotel, i : ${hotelRoom}">
                            <!-- Single -->
                            <div class="single-location">
                                <img th:src="${hotel.hotel_room_img.get(0).img_Server_Path}" alt="">
                                <div class="location-contents">
                                    <h3 ><a href="#" th:text="${hotel.roomName}"></a></h3>
                                    <p th:text="'Max People '+${hotel.maxPeople}"></p>
                                    <div class="price">
                                        <span>Started from $ <span th:text="${hotel.price}"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <!-- Single -->
                            <div class="single-location">
                                <img th:src="@{/hotel/assets/img/gallery/hotel2.jpg}" alt="">
                                <div class="location-contents">
                                    <h3><a href="#">Family Room </a></h3>
                                    <p>2 Adult 1 Children</p>
                                    <div class="price">
                                        <span>Started from<span>$500</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <!-- Single -->
                            <div class="single-location">
                                <img th:src="@{/hotel/assets/img/gallery/hotel3.jpg}" alt="">
                                <div class="location-contents">
                                    <h3><a href="#">Couple Room </a></h3>
                                    <p>2 Adult 1 Children</p>
                                    <div class="price">
                                        <span>Started from<span>$500</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <!-- Single -->
                            <div class="single-location">
                                <img th:src="@{/hotel/assets/img/gallery/hotel2.jpg}" alt="">
                                <div class="location-contents">
                                    <h3><a href="#">Luxurious Room </a></h3>
                                    <p>2 Adult 1 Children</p>
                                    <div class="price">
                                        <span>Started from<span>$500</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- location-hou-->
        <!--  services-area start-->
        <div class="services-area2 section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="section-tittle mb-60 text-center">
                            <h2>Surrounded by galleries, boutiques, restaurants and cafés, our Hotel is a hub of energy
                                and style.</h2>
                            <a href="#" class="tittle-btn mt-15">Find a Room For You</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <div class="col-xl-12">
                            <div class="single-services2 mb-30">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 p-0">
                                        <div class="features-img">
                                            <img th:src="@{/hotel/assets/img/gallery/project-img.jpg}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 p-0">
                                        <div class="features-caption">
                                            <h3><a href="#">Take advantage of our seasonal specials.</a></h3>
                                            <p>The concept and service of the best luxury hotels in Asturias in our
                                                sophisticated Urban Double and Unique Junior Suite rooms, with the
                                                possibility of enjoying a furnished terrace in our Double Urban Loft and
                                                Unique Junior Loft Suite.</p>
                                            <a href="#" class="btn_01 ">View Project</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- services-area End-->
        <!-- video start -->
        <div class="video-area section-img-bg2 d-flex align-items-center" data-background="/hotel/assets/img/gallery/video-bg.jpg">
            <div class="container">
                <div class="video-wrap position-relative">
                    <!-- Video icon -->
                    <div class="video-icon">
                        <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0">
                            <img th:src="@{/hotel/assets/img/icon/video-icon.svg}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- video end -->
        <!-- Our Guest start -->
        <div class="guest-house section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-50">
                            <h2>We Offer to Our Guest</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <img th:src="@{/hotel/assets/img/gallery/guest1.jpg}" alt="">
                            <div class="guest-contents guest-contents2">
                                <h3><a href="#">Free Drinks</a></h3>
                            </div>
                            <div class="guest-contents">
                                <h3><a href="#">Free Breakfast</a></h3>
                                <p>The concept and service of the best luxury hotels in Asturias in our sophisticated
                                    Urban Double and Unique Junior Suite rooms, with the possibility of enjoying a
                                    furnished terrace in our Double Urban Loft and Unique Junior Loft Suite.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <img th:src="@{/hotel/assets/img/gallery/guest2.jpg}" alt="">
                            <div class="guest-contents guest-contents2">
                                <h3><a href="#">Free Breakfast</a></h3>
                            </div>
                            <div class="guest-contents">
                                <h3><a href="#">Free Breakfast</a></h3>
                                <p>The concept and service of the best luxury hotels in Asturias in our sophisticated
                                    Urban Double and Unique Junior Suite rooms, with the possibility of enjoying a
                                    furnished terrace in our Double Urban Loft and Unique Junior Loft Suite.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <img th:src="@{/hotel/assets/img/gallery/guest3.jpg}" alt="">
                            <div class="guest-contents guest-contents2">
                                <h3><a href="#">Free Dinner</a></h3>
                            </div>
                            <div class="guest-contents">
                                <h3><a href="#">Free Breakfast</a></h3>
                                <p>The concept and service of the best luxury hotels in Asturias in our sophisticated
                                    Urban Double and Unique Junior Suite rooms, with the possibility of enjoying a
                                    furnished terrace in our Double Urban Loft and Unique Junior Loft Suite.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Guest -->
        <!-- client-say Area Start -->
        <section class="client-say">
            <div class="container">
                <div class="custom-row">
                    <div class="client-active">
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="client-caption">
                                <h3>Nice Accommodation</h3>
                                <p>"Leather detail shoulder contrastic colour
                                    contour stunning silhouette working peplum.
                                    Statement buttons cover-up tweaks patch.</p>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center mt-30">
                                    <div class="founder-text">
                                        <span>- Omeka Lotus</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="client-caption">
                                <h3>Delicious Food</h3>
                                <p>"Leather detail shoulder contrastic colour
                                    contour stunning silhouette working peplum.
                                    Statement buttons cover-up tweaks patch.</p>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center mt-30">
                                    <div class="founder-text">
                                        <span>- Omeka Lotus</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="client-caption">
                                <h3>Nice Accommodation</h3>
                                <p>"Leather detail shoulder contrastic colour
                                    contour stunning silhouette working peplum.
                                    Statement buttons cover-up tweaks patch.</p>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center mt-30">
                                    <div class="founder-text">
                                        <span>- Omeka Lotus</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- client-say End -->
    </main>
</div>
</body>
</html>