<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/hotel_layout1}">
<head>
    <meta charset="UTF-8">
    <title>Hotel-reservation</title>
    <script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.2.min.js" type="application/javascript"></script>

</head>
<body>
<div layout:fragment="content">
    <div class="slider-area hero-bg1  hero-overly">
        <div class="single-slider  slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center ">
                    <div class="col-xl-7 col-lg-11">
                        <!-- Hero Caption -->
                        <div class="hero-caption hero-caption2 pt-10">
                            <h1>Reservation</h1>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="location-house section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-8">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-50">
                        <h2>Reservation</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <form class="form-control">
                    <input hidden="user_re" th:value="${user}">
                    <div>
                        <label>Name</label>
                        <input readonly sec:authorize="isAuthenticated()" type="text" th:value="${user.name}" >
                        <input sec:authorize="isAnonymous()" type="text" id="another_user" name="anonymous_name">
                    </div>
                    <div>
                        <label for="roomname">Room</label>
                        <input readonly id="roomname" type="text" class="form-group"
                               th:value="${reservation.get('room')}">
                    </div>
                    <div>
                        <label for="checkin">CheckIn</label>
                        <input readonly id="checkin" type="text" class="form-group"
                               th:value="${reservation.get('checkin')}">
                    </div>
                    <div>
                        <label for="checkout">CheckOut</label>
                        <input readonly id="checkout" type="text" class="form-group"
                               th:value="${reservation.get('checkout')}">
                    </div>
                    <div>
                        <label for="people">People</label>
                        <input readonly id="people" type="text" class="form-group"
                               th:value="${reservation.get('people')}">
                    </div>
                    <div>
                        <label for="pee">Pee</label>
                        <input readonly id="pee" type="text" class="form-group"
                               th:value="${pee}">
                    </div>
                    <div>
                        <label for="phone">Phone Number</label>
                        <input id="phone" type="text" class="form-group">
                    </div>
                    <button type="button" th:onclick=" requestPay([[${user}]])" class="btn btn-primary">お支払い</button>
                </form>
            </div>
        </div>
    </div>
    <div class="video-area section-img-bg2 d-flex align-items-center"
         data-background="/hotel/assets/img/gallery/video-bg.jpg}">
        <div class="container">
            <div class="video-wrap position-relative">
                <!-- Video icon -->
                <div class="video-icon">
                    <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0">
                        <img th:src="@{/hotel/assets/img/icon/video-icon.svg}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script>
        //test SMS
        // function test_reservation(user) {
        //     var aa = JSON.stringify(user);
        //     var user_re = JSON.parse(aa);
        //     var reservation_info = null;
        //
        //     if(user_re===null){
        //         reservation_info = {
        //             room : $('#roomname').val(),
        //             another_user :$('#another_user').val(),
        //             checkin : $('#checkin').val(),
        //             checkout : $('#checkout').val(),
        //             people : $('#people').val(),
        //             pee : $('#pee').val(),
        //             phone : $('#phone').val()
        //         };
        //     }else{
        //         reservation_info = {
        //             room : $('#roomname').val(),
        //             user : user_re,
        //             checkin : $('#checkin').val(),
        //             checkout : $('#checkout').val(),
        //             people : $('#people').val(),
        //             pee : $('#pee').val(),
        //             phone : $('#phone').val()
        //         };
        //     };
        //
        //     $.ajax({
        //         url: '/hotel/reservation/test',
        //         data : JSON.stringify(reservation_info),
        //         type : 'POST',
        //         contentType: 'application/json; charset=utf-8'
        //     }).done(function (data) {
        //         alert(data);
        //         location.href='index';
        //     }).fail(function (error) {
        //         alert(error);
        //     });
        //
        //
        //
        // }

        function requestPay(user) {

            var aa = JSON.stringify(user);
            var user_re = JSON.parse(aa);

            var reservation_info = null;

            if(user_re===null){
                reservation_info = {
                    room : $('#roomname').val(),
                    another_user :$('#another_user').val(),
                    checkin : $('#checkin').val(),
                    checkout : $('#checkout').val(),
                    people : $('#people').val(),
                    pee : $('#pee').val(),
                    phone : $('#phone').val()
                };
            }else{
                reservation_info = {
                    room : $('#roomname').val(),
                    user : user_re,
                    checkin : $('#checkin').val(),
                    checkout : $('#checkout').val(),
                    people : $('#people').val(),
                    pee : $('#pee').val(),
                    phone : $('#phone').val()
                };
            };

            BootPay.request({
                price: parseInt(reservation_info.pee), //실제 결제되는 가격
                application_id: "61b8040fe38c30001ed2c855",
                name: reservation_info.room + ' Room', //결제창에서 보여질 이름
                show_agree_window: 0, // 부트페이 정보 동의 창 보이기 여부
                items: [
                    {
                        item_name: reservation_info.room + ' Room',
                        qty: 1, //수량
                        price: parseInt(reservation_info.pee), //상품 단가
                        unique : reservation_info.room,
                    }
                ],
                order_id: Date.now(), //고유 주문번호로, 생성하신 값을 보내주셔야 합니다.
                params: reservation_info,
                account_expire_at: '2020-10-25', // 가상계좌 입금기간 제한 ( yyyy-mm-dd 포멧으로 입력해주세요. 가상계좌만 적용됩니다. )
                extra: {
                    quota: '0,2,3', // 결제금액이 5만원 이상시 할부개월 허용범위를 설정할 수 있음, [0(일시불), 2개월, 3개월] 허용, 미설정시 12개월까지 허용,
                    theme: 'purple', // [ red, purple(기본), custom ]
                    custom_background: '#00a086', // [ theme가 custom 일 때 background 색상 지정 가능 ]
                    custom_font_color: '#ffffff' // [ theme가 custom 일 때 font color 색상 지정 가능 ]
                }
            }).error(function (data) {
                //결제 진행시 에러가 발생하면 수행됩니다.
                console.log(data);
            }).cancel(function (data) {
                //결제가 취소되면 수행됩니다.
                console.log(data);
            }).ready(function (data) {

                // 가상계좌 입금 계좌번호가 발급되면 호출되는 함수입니다.
                console.log(data);
            }).confirm(function (data) {
                //결제가 실행되기 전에 수행되며, 주로 재고를 확인하는 로직이 들어갑니다.
                //주의 - 카드 수기결제일 경우 이 부분이 실행되지 않습니다.
                console.log(data);
                var enable = true; // 재고 수량 관리 로직 혹은 다른 처리
                if (enable) {
                    BootPay.transactionConfirm(data); // 조건이 맞으면 승인 처리를 한다.
                } else {
                    BootPay.removePaymentWindow(); // 조건이 맞지 않으면 결제 창을 닫고 결제를 승인하지 않는다.
                }
            }).close(function (data) {

                // 결제창이 닫힐때 수행됩니다. (성공,실패,취소에 상관없이 모두 수행됨)
                console.log(data);
            }).done(function (data) {

                location.href='/hotel/index';
                alert('予約しました');

                //결제가 정상적으로 완료되면 수행됩니다
                //비즈니스 로직을 수행하기 전에 결제 유효성 검증을 하시길 추천합니다.
                console.log(data);
            });
        }
    </script>
</th:block>
</html>