<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.2.min.js" type="application/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta charset="UTF-8">
    <title>Import test</title>
</head>
<body>
<div>
  <div th:each="hotel : ${test_hotel_room}">
    <div th:text="${hotel.price}"></div>
    <button th:onclick="requestPay( [[${hotel}]] )">결제하기</button>
  </div>
</div>
<form>
  <input type="text" id="test1">
  <input type="text" id="test2">
  <input type="text" id="test3">
  <button onclick="asdfaa()" >aaaaa</button>
</form>
</body>
<script>


  // function asdfaa() {
  //
  //   var data = {
  //     test1 : $('#test1').val(),
  //     test2 : $('#test2').val(),
  //     test3 : $('#test3').val(),
  //   };
  //
  //
  //   $.ajax({
  //     url : '/payment/create',
  //     type : 'post',
  //     data : JSON.stringify(data),
  //     contentType : 'application/json'
  //   }).done(function (data) {
  //     alert(data);
  //   }).fail(function (error) {
  //     alert(error);
  //   })
  //
  //
  // }


  function requestPay(test_hotel) {

    var aa =JSON.stringify(test_hotel);
    var json_hotel = JSON.parse(aa);




    BootPay.request({

      price: json_hotel.price, //실제 결제되는 가격
      application_id: "61b8040fe38c30001ed2c855",
      name: json_hotel.roomName + ' Room', //결제창에서 보여질 이름
      show_agree_window: 0, // 부트페이 정보 동의 창 보이기 여부
      items: [
        {
          item_name: json_hotel.roomName + ' Room, //상품명,
          qty: 1, //수량
          unique: '123', //해당 상품을 구분짓는 primary key
          price: 1000, //상품 단가
          cat1: 'TOP', // 대표 상품의 카테고리 상, 50글자 이내
          cat2: '티셔츠', // 대표 상품의 카테고리 중, 50글자 이내
          cat3: '라운드 티', // 대표상품의 카테고리 하, 50글자 이내
        }
      ],
      user_info: {
        username: '사용자 이름',
        email: '사용자 이메일',
        addr: '사용자 주소',
        phone: '010-1234-4567'
      },
      order_id: '고유order_id_1234', //고유 주문번호로, 생성하신 값을 보내주셔야 합니다.
      params: {callback1: '그대로 콜백받을 변수 1', callback2: '그대로 콜백받을 변수 2', customvar1234: '변수명도 마음대로'},
      account_expire_at: '2020-10-25', // 가상계좌 입금기간 제한 ( yyyy-mm-dd 포멧으로 입력해주세요. 가상계좌만 적용됩니다. )
      extra: {
        quota: '0,2,3', // 결제금액이 5만원 이상시 할부개월 허용범위를 설정할 수 있음, [0(일시불), 2개월, 3개월] 허용, 미설정시 12개월까지 허용,
        theme: 'purple', // [ red, purple(기본), custom ]
        custom_background: '#00a086', // [ theme가 custom 일 때 background 색상 지정 가능 ]
        custom_font_color: '#ffffff' // [ theme가 custom 일 때 font color 색상 지정 가능 ]
      }
    }).error(function (data) {
      //결제 진행시 에러가 발생하면 수행됩니다.
      console.log(data);
    }).cancel(function (data) {
      //결제가 취소되면 수행됩니다.
      console.log(data);
    }).ready(function (data) {

      // 가상계좌 입금 계좌번호가 발급되면 호출되는 함수입니다.
      console.log(data);
    }).confirm(function (data) {
      //결제가 실행되기 전에 수행되며, 주로 재고를 확인하는 로직이 들어갑니다.
      //주의 - 카드 수기결제일 경우 이 부분이 실행되지 않습니다.
      console.log(data);
      var enable = true; // 재고 수량 관리 로직 혹은 다른 처리
      if (enable) {
        BootPay.transactionConfirm(data); // 조건이 맞으면 승인 처리를 한다.
      } else {
        BootPay.removePaymentWindow(); // 조건이 맞지 않으면 결제 창을 닫고 결제를 승인하지 않는다.
      }
    }).close(function (data) {

      // 결제창이 닫힐때 수행됩니다. (성공,실패,취소에 상관없이 모두 수행됨)
      console.log(data);
    }).done(function (data) {

      alert('予約しました');

      if(data!=null){
      }

      //결제가 정상적으로 완료되면 수행됩니다
      //비즈니스 로직을 수행하기 전에 결제 유효성 검증을 하시길 추천합니다.
      console.log(data);
    });
  }

</script>
</html>