{{>layout/header}}

<h1>도윤이는 잘생겼다</h1>
<div class="col-md-12">
    <!-- 로그인 기능 영역-->
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">인정?</a>
            {{#userName}} <!--머스테치의 if문 만약에 userName이 있으면 노출시키도록 구성-->
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}<!--머스테치의 !문 userName이 없다면 노출-->
                <!-- 스프링에서 기본적으로 제공하는 로그인 URL-->
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">
                    Google Login
                </a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">
                    Naver Login
                </a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역-->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}"> {{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>

</div>

{{>layout/footer}}