// About Area
.support-company-area{
    .support-location-img{
        img{
            width: 100%;
		}
		// Shape
		.about-shape{
			position: absolute;
			left: -94px;
			bottom: -93px;
			z-index: -1;
		}
	}
	// Right Content
	.right-caption{
        @media #{$md}{
            margin-bottom: 40px;
        }
        @media #{$sm}{
            margin-bottom: 40px;
        }
        @media #{$xs}{
            margin-bottom: 40px;
        }
		.support-caption{
			span{
				color: #FF6162;
				font-size: 25px;
				margin-bottom: 20px;
				display: block;
				@media #{$xs}{
					font-size: 20px;
				}
			}
			p.pera-top{
				font-weight: 300;
				margin-bottom: 40px;
				@media #{$sm}{
					margin-bottom: 25px;
				}
				@media #{$xs}{
					margin-bottom: 25px;
				}
			}
			p{
				font-size: 17px;
				font-weight: 400;
                line-height: 1.8;
                color: #656565;
                margin-bottom: 30px;
			}
		}
    }
    .about-right-img{
        @media #{$lg}{
            padding-top: 50px;
        }
    }
}