.services-area2{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 65%;
        top: 0;
        right: 5px;
        left: 0px;
        z-index: -1;
        background: #F9F8F8;
    }
    .single-services2 {
        display: flex;
        .features-img{
            img {
                width: 100%;
                 height: 520px;
                margin-left: 20px;
                @media #{$sm}{
                    margin-left: 0px;
                    height:420px;
                }
                @media #{$md}{
                    margin-left: 12px;
                    height: 499px;
                }
                @media #{$xs}{
                    margin-left: 0px;
                    height: 400px;
                }
            }
            &.features-img2{
                img{
                    margin-left: 0px;
                    // border-radius:0px 10px 10px 0px ;
                }
            }
            &.features-img3{
                img{
                    margin-left: 0px;
                    border-radius:0px 10px 10px 0px ;
                }
            }
        }
        
        .features-caption {
            background: #191514;
            padding: 68px 40px;
             height: 520px;
            text-align: center;
            @media #{$laptop}{
                padding: 60px 31px;
            }
            @media #{$md}{
                padding: 35px 22px;
                height: 499px;
            }
            @media #{$sm}{
                height: 500px;
            }
            @media #{$xs}{
                height: 600px;
            }
            @media #{$xs}{
                padding: 41px 20px;
            }
            img{
                margin-bottom: 25px;
            }
            span{
                font-size: 16px;
                color: #fff;
                margin-bottom: 30px;
                display: block;

            }
            h3 {
                a{
                    color: #ffff;
                    font-size: 42px;
                    line-height: 1.2;
                    margin-bottom: 30px;
                    font-weight: 400;
                    display: block;
                    @media #{$md}{
                        font-size: 28px;
                    }
                    &:hover{
                        color: $theme-color !important;
                    }
                }
            }
            p {
                font-size: 18px;
                line-height: 1.5;
                color: #fff;
                margin-bottom: 40px;
               
                @media #{$lg}{
                    font-size: 15px;
                }
                @media #{$xs}{
                    font-size: 15px;
                }
            }
        }
    }
}


// Arrow
.services1-active{
    margin: 0 12px;
    button{
        &.slick-arrow {
            position: absolute;
            border: 0;
            padding: 0;
            z-index: 2;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);
            left: auto;
            background: none;
            i{
                font-size: 30px;
                color: rgba(32, 69, 112,.3);
                @include transition(.2s);
                &:hover{
                    color: $theme-color;
                }
            }
        }
        &.slick-prev {
            left: -40px;
            @media #{$laptop}{
            //    left: -10px;
            }
            @media #{$lg}{
            //    left: -10px;
            }
            @media #{$md}{
               left: -25px;
            }
            @media #{$sm}{
               left: -10px;
            }
        }
        &.slick-next {
            right: -40px;
            @media #{$laptop}{
                // right: -10px;
             }
            @media #{$lg}{
                // right: -10px;
            }
            @media #{$md}{
                right: -25px;
            }
            @media #{$sm}{
                right: -10px;
            }
        }
    }
}





