
.client-say{
    // padding-top: 70px;
    // padding-bottom: 60px;
    background: #B86E5A;
    @media #{$sm}{
        // padding-top: 50px;
        // padding-bottom: 40px;
    }
    @media #{$xs}{
        // padding-top: 50px;
        // padding-bottom: 40px;
    }
    .client-caption{
        padding: 60px 20px 30px 60px;
        border-radius: 0 0 60px 0;
        margin: 50px 0 ;
        margin-top: 20px;
        @include transition(.3s);
        @media #{$lg}{
            padding: 30px 20px 30px 30px;
        }
        @media #{$md}{
            padding: 30px 20px 30px 30px;
        }
        @media #{$sm}{
            padding: 30px 15px 30px 15px;
        }
        @media #{$xs}{
            padding: 30px 15px 30px 15px;
        }
        h3 {
            font-family: $font_2;
            color: #fff;
            margin-bottom: 3px;
            line-height: 13px;
            font-weight: 400;
            font-size: 30px;
            margin-bottom: 37px;
            display: block;
            @media #{$md}{
                font-size: 24px;
            }
            @media #{$xs}{
                font-size: 20px;
            }
        }
        p{
            color:#fff;
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 0px;
            padding: 0;
            @media #{$md}{
                font-size: 20px;
            }
            @media #{$xs}{
                font-size: 22px;
            }
        }
        .founder-text{
            span{
                color:#fff;
                font-size: 20px;
                font-weight: 300;
            }
        }
    }

}

// Arrow
.client-active{
    button{
        &.slick-arrow {
            position: absolute;
            border: 0;
            padding: 0;
            z-index: 2;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);
            left: auto;
            background: none;
            width: 50px;
            height: 50px;
            border: 1px solid rgba(255, 255, 255,.5);
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            @include transition(.4s);
            // box-shadow: 0px 10px 20px rgba(253, 143, 95,.1);
            &:hover{
                // border: 1px solid $theme-color; 
                i{
                    color: #fff;
                }
            }
            i{
                
                color:#fff;
                font-size: 18px;
                font-weight: 400;
                @include transition(.4s);

            }
        }
        &.slick-prev {
            // transform: rotate(-45deg) !important;
            left: -58px;
            @media #{$big_screen2}{
                left: -2px;
            }
            @media #{$lg}{
                left: -24px;
            }
            @media #{$md}{
                left: -28px;
            }
            @media #{$sm}{
                left: -2px;
            }
            @media #{$xs}{
                left: -2px;
            }
        }
        &.slick-next {
            // transform: rotate(45deg) !important;
            right: -58px;
            @media #{$big_screen2}{
                right: -4px;
            }
            @media #{$lg}{
                right: -24px;
            }
            @media #{$md}{
                right: -28px;
            }
            @media #{$sm}{
                right: -4px;
            }
            @media #{$xs}{
                right: -4px;
            }
        }
    }
}

